.btn {
  display: flex;
  align-items: center;
  text-align: left;

  width: 100%;
  height: 10%;
  margin: 10px 0;
  border-style: none;
  border-radius: 10px;
  padding: 20px 10px;

  transition: color 100ms;
  background-color: transparent;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;

  cursor: pointer;
}

.btn:hover {
  background: rgba(147, 51, 234, 0.06);
}

.btn svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.btn_nonActive {
  color: #6b7280;
}

.btn_active {
  background: rgba(147, 51, 234, 0.06);
  color: #9333ea;
}
