.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
    margin: 1%;
    background: #FFFFFF;
    border-radius: 10px;
}

.header a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;

    text-decoration: none;
    color: #9333EA;
}

.userName {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #9333EA;
}